.Cursor_hover:hover{
    cursor: pointer;
}

.Cursor_Disable:hover{
    cursor: not-allowed;
}

.item-end{
    width: 100%;
    display: flex;
    justify-content: end;
    align-content: start;
}

.item-center{
    width: 33%;
    display: flex;
    justify-content: center;
    align-content: center;
}
